@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9551 0 0);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(0.9702 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(0.9702 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.4891 0 0);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9067 0 0);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.8853 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.8078 0 0);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.5594 0.1900 25.8625);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8576 0 0);
  --input: oklch(0.9067 0 0);
  --ring: oklch(0.4891 0 0);
  --chart-1: oklch(0.4891 0 0);
  --chart-2: oklch(0.4863 0.0361 196.0278);
  --chart-3: oklch(0.6534 0 0);
  --chart-4: oklch(0.7316 0 0);
  --chart-5: oklch(0.8078 0 0);
  --sidebar: oklch(0.9370 0 0);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.4891 0 0);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8078 0 0);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.8576 0 0);
  --sidebar-ring: oklch(0.4891 0 0);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(0 0% 20% / 0.1);
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(0.8853 0 0);
  --card: oklch(0.2435 0 0);
  --card-foreground: oklch(0.8853 0 0);
  --popover: oklch(0.2435 0 0);
  --popover-foreground: oklch(0.8853 0 0);
  --primary: oklch(0.7058 0 0);
  --primary-foreground: oklch(0.2178 0 0);
  --secondary: oklch(0.3092 0 0);
  --secondary-foreground: oklch(0.8853 0 0);
  --muted: oklch(0.2850 0 0);
  --muted-foreground: oklch(0.5999 0 0);
  --accent: oklch(0.3715 0 0);
  --accent-foreground: oklch(0.8853 0 0);
  --destructive: oklch(0.6591 0.1530 22.1703);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3290 0 0);
  --input: oklch(0.3092 0 0);
  --ring: oklch(0.7058 0 0);
  --chart-1: oklch(0.7058 0 0);
  --chart-2: oklch(0.6714 0.0339 206.3482);
  --chart-3: oklch(0.5452 0 0);
  --chart-4: oklch(0.4604 0 0);
  --chart-5: oklch(0.3715 0 0);
  --sidebar: oklch(0.2393 0 0);
  --sidebar-foreground: oklch(0.8853 0 0);
  --sidebar-primary: oklch(0.7058 0 0);
  --sidebar-primary-foreground: oklch(0.2178 0 0);
  --sidebar-accent: oklch(0.3715 0 0);
  --sidebar-accent-foreground: oklch(0.8853 0 0);
  --sidebar-border: oklch(0.3290 0 0);
  --sidebar-ring: oklch(0.7058 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(0 0% 20% / 0.1);
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: rgb(var(--color-ring) / 0.5);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  /* Scrollbar styling */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-primary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-ring;
  }
}

/* --------------------- */
nav {
  font-family: var(--font-courier), monospace;
  font-size: 0.85rem;
}

.logo {
  font-size: 1rem;
}

.nav-Link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}

.nav-Link:not(.logo .nav-Link)::after,
.foo-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: var(--foreground);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.nav-Link:not(.logo .nav-Link):hover::after,
.foo-link:hover::after {
  transform: scaleX(1);
}

/* ------------------------ */
.foo-link {
  position: relative;
  text-decoration: none;
}

.hero-text {
  clip-path: inset(0% 0% 0% 0%);
}

/* -------------------- */
.tranblock {
  will-change: transform;
}

/* ----------------------------- */
.terminalBox {
  font-family: 'Courier New', Courier, monospace;
}


/* ------------ Hover Grid --------------------- */

.gridP {
  position: relative;
  /* margin: 0 auto; */
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

/* Each row */
.grid-rowP {
  flex: 1;
  width: 100%;
  display: flex;
}

/* Horizontal divider between rows */
.grid-rowP:not(:last-child) {
  @apply border-b-2
}

/* Each cell */
.grid-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Vertical divider between items */
.grid-item:not(:last-child) {
  @apply border-r-2
}

.grid-item p {
  position: relative;
  z-index: 2;
}

/* Highlight box */
.highlight {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}


@media (max-width: 900px) {
  .gridP {
    height: auto;
  }

  .grid-rowP {
    flex-direction: column;
  }

  .grid-item {
    width: 100%;
    padding: 60px 0;
  }

  .grid-item:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .highlight {
    display: none;
  }
}


/* ------------------------ Api page style ------------------------- */

.spootlight {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  overflow: hidden;
}

.spootlight .row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.spootlight .row .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spootlight .row:nth-child(1) img,
.spootlight .row:nth-child(4) img {
  width: 50%;
  height: 50%;
}

.spootlight .card {
  width: 75%;
  margin: 0 auto;
  padding: 2rem;
  /* background-color: var(); */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spootlight .svg-path {
  position: absolute;
  top: 35svh;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.spootlight .svg-path svg {
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .spootlight {
    gap: 5rem;
  }

  .spootlight .row {
    flex-direction: column;
  }

  .spootlight .row:nth-child(1) img,
  .spootlight .row:nth-child(4) img {
    width: 100%;
  }

  .spootlight .card {
    width: 100%;
  }

  .spootlight .svg-path {
    top: 5svh;
    width: 100%;
    height: 110%;
  }
}

/* --------------------------- Docs Page Style ------------------------ */

.docs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.docs section {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.docs-hero-content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  transform-style: preserve-3d;
  perspective: 1000px;
  padding: 0.5rem 0;
}

.docs-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  transform-origin: center;
  will-change: transform, opacity;
}

.docs-header h1 {
  width: 50%;
  margin-bottom: 0.5rem;
}

.docs-header p {
  opacity: 0.35;
}

.docs-hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.docs-hero-img .dh-img {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateZ(1000px);
  opacity: 0;
  will-change: transform, opacity;
}